[tool.poetry]
name = "pynenc"
version = "0.0.3"
description = "A simple task management system for complex distributed orchestration"
authors = ["Jose Diaz"]
license = "MIT License"
readme = "README.md"
homepage = "https://pynenc.org"
documentation = "https://docs.pynenc.org"
repository = "https://github.com/pynenc/pynenc"
classifiers = [
    "Development Status :: 3 - Alpha",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python :: 3.11",
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Topic :: System :: Distributed Computing",
]


[tool.poetry.dependencies]
python = "~3.11"
redis = "4.6.0"
pyyaml = "^6.0.1"


[tool.poetry.group.dev.dependencies]
black = "23.11.0"
pytest = ">=7.3.1,<8.0.0"
coverage = { version = ">=7.2.6,<8.0", extras = ["toml"] }
mypy = "1.7.0"
types-redis = "4.6.0.2"
types-PyYAML = "6.0.12.12"
sphinx = "^7.0"
myst-parser = "^2"
furo = "^2023"
pre-commit = "^3.5.0"
pytest-timeout = "^2.2.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"


[tool.isort]
profile = "black"

[tool.black]
line-length = 88
target-version = ['py311']
required-version = '23.11.0'
exclude = '''
/(
    \.mypy_cache
    | \.env
    | \.venv
)/
'''


# [tool.flake8]
# max-line-length = 88
# exclude = [".venv", ".env", ".eggs"]
# ignore = [
#     "E203",  # Whitespace before ':' (conflicts with black)
#     "W503",  # Line break before binary operator (conflicts with black)
# ]

[tool.ruff]
select = [
    "E",  # pycodestyle errors
    "W",  # pycodestyle warnings
    "F",  # pyflakes
    # "I",  # isort # using isort for now
    "C",  # flake8-comprehensions
    "B",  # flake8-bugbear
    "UP", # pyupgrade
]
ignore = [
    "E501", # line too long, handled by black
    # "B008",  # do not perform function calls in argument defaults
    # "C901",  # too complex
    # "W191", # indentation contains tabs
]

[tool.mypy]
files = ["pynenc"]
warn_unused_configs = true
ignore_missing_imports = true
disallow_untyped_defs = true
disallow_incomplete_defs = true
exclude = 'venv,env'
show_error_codes = true
pretty = true
allow_redefinition = true
no_implicit_optional = true
strict_equality = true

[tool.pytest]
log_cli = true

[tool.pytest.ini_options]
filterwarnings = [
    "ignore:Running in a secondary thread. Signal handling will be skipped.:UserWarning",
    "ignore::pytest.PytestUnhandledThreadExceptionWarning",
]
timeout = 10
